<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<br>
  <div class="container">
    <div class="row row-centered">
      <div class="col-md-6 col-centered"><a href="/createUsers" class="btn btn-block btn-default">Create Users</a></div>
      <div class="col-md-6 col-centered"><a href="/updateUsers" class="btn btn-block btn-default">Update Users</a></div>
    </div><br>
    <div class="row row-centered">
      <div class="col-md-3 col-centered"></div>
      <div class="col-md-6 col-centered"><a href="/createSkills" class="btn btn-block btn-default">Create Skills</a></div>
      <div class="col-md-3 col-centered"></div>
    </div>
    <br>
    <div class="row row-centered">
      <div class="col-md-4 col-centered"></div>
      <div class="col-md-4 col-centered"><a href="https://docs.google.com/document/d/1xIrelYhsPAAh8iip4Kg74m7aXK2dJyQ6gClAUhglKc8/edit?usp=sharing" target="_blank" class="btn btn-block btn-default">How To Use The Tool</a></div>
      <div class="col-md-4 col-centered"></div>
    </div>
    <br><br>
    <div class="row row-centered">
      <div class="col-md-4 col-centered"></div>
      <div class="col-md-4 col-centered">
      	<h3>Example CSV Files:</h3>
      </div>
      <div class="col-md-4 col-centered"></div>
    </div>
    <div class="row row-centered">
      <div class="col-md-4 col-centered"></div>
      <div class="col-md-4 col-centered">
      	<a href="https://docs.google.com/spreadsheets/d/1ndh93FrW1k09D_jdlR5CKGGonOYJ8giPEj-9sxHZnWM/edit?usp=sharing" target="_blank" class="btn btn-block btn-default">Create Users CSV</a>
      </div>
      <div class="col-md-4 col-centered"></div>
    </div>
    <div class="row row-centered">
      <div class="col-md-4 col-centered"></div>
      <div class="col-md-4 col-centered">
      	<a href="https://docs.google.com/spreadsheets/d/1sWg_ADdt7vvcLQVzGtxaYHCFrqJc9kqAqE_2aAHy6mM/edit?usp=sharing" target="_blank" class="btn btn-block btn-default">Update Users CSV</a>
      </div>
      <div class="col-md-4 col-centered"></div>
    </div>
    <div class="row row-centered">
      <div class="col-md-4 col-centered"></div>
      <div class="col-md-4 col-centered">
        <a href="https://drive.google.com/file/d/0B3v-p63HExgecVlTdGJhZTVIUUU/view?usp=sharing" target="_blank" class="btn btn-block btn-default">Create Skills CSV</a>
      </div>
      <div class="col-md-4 col-centered"></div>
    </div>
  </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">This tool was created as an example of how you can use the APIs to create/update users on your account. This is a not a product that is supported by LivePerson.</p>
      </div>
    </footer>
</body>
</html>