<!DOCTYPE html>
<html>
<head>
  <title>Update Users</title>
  <% include ../partials/header.ejs %>
  <script src="/js/player.js"></script>
</head>

<body>
  <div class="container">
  <br>
  <div class="row row-centered">
      <div class="col-md-4 col-centered"></div>
      <div class="col-md-4 col-centered"><h2>Task was successful!</h2><br><a href="/" class="btn btn-block btn-default">Main Menu</a></div>
      <div class="col-md-4 col-centered"></div>
  </div>
 </div>
 <footer class="footer">
      <div class="container">
        <p class="text-muted">This tool was created as an example of how you can use the APIs to create/update users on your account. This is a not a product that is supported by LivePerson.</p>
      </div>
    </footer>
</body>
</html>